
.myfooter-copyright{
    width: 100%;
    background-color: #3632B3;
    color: #ffffff;
    text-align: center;
}

.myfooter{
    width: 100%;
    background-color: #4A44F2;
    color: white;
    text-align: center;
    

}

